// fonts

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

$primary-font: 'Lato', sans-serif;
$secondary-font: 'Rock Salt', serif;

//Sizes
$h1-mqs: 3.2rem;
$h1-mqm: 3rem;
$h1: 2.4rem;
$h2: 1.8rem;
$p: 1.4rem;
$p-mqs: 1.6rem;

/* --------------------------------
xTypography
-------------------------------- */

h1, h2 {
	font-family: $secondary-font;
	color: $color-2;
}

h1 {
	font-size: $h1;
	font-weight: 300;
	line-height: 1.2;
	margin: 0 0 .4em;

	@include MQ(S) {
		font-size: $h1-mqs;
	}

	@include MQ(M) {
		font-size: $h1-mqm;
	}
}

h2 {
	font-weight: bold;
	text-transform: uppercase;
	margin: 1em 0;

	@include MQ(S) {
		font-size: $h2;
		margin: 1em 0 1.4em;
	}
}

section > h2::before {
	/* number before each section title */
	color: darken($color-4, 15%);
}

p {
	font-size: $p;
	line-height: 1.4;
	color: lighten($color-2, 25%);

	a {
		color: $color-1;
		text-decoration: underline;
	}

	@include MQ(S) {
		font-size: $p-mqs;
		line-height: 1.6;
	}
}
